  .dictionare_col-4{
      width: 33.34%;
      padding-left: 20px;
  }
  .dictionare_col-8{
      width: 66.66%;
      padding-left: 20px;
  }
  .dictionare_container{
    width: 350px;
    height: 200px;
    z-index: 10000;
    border: solid 1px rgba(0,0,0,0.125);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.125);
    position: fixed !important;
    background-color: white;
    opacity: 99;
    box-sizing: border-box;
    overflow: auto;
}

.dictionare_cross_container{
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 1.5rem;
}

.dictionare_mt{
    margin-top: 15px;
}

.dictionare_pointer{
    cursor: pointer;
}

.dictionare_right_container{
    font-size: 1.5rem;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
  
.dictionare_row{
    display: flex;
    width: 100%;
}

.dictionare_speaker_container{
    font-size: 1.8rem;
    padding: 15px 30px;
    color: #444444;
}

.dictionare_text-right{
    float: right;
}

.dictionare_usage_header{
    padding-left: 20px;
}

.dictionare_usage_container{
    font-style: italic;
    padding-left: 20px;
}

.dictionare_word_container{
    padding: 20px 25px;
    text-transform: capitalize;
    font-size: 1.3rem;
}

.dictionare_word_info_container{
    font-size: 1.3rem;
    line-height: 1.2rem;
    width: 70%;
    padding: 20px 25px;
    font-style: italic;
    color: #6c757d;
}