  ol{
      list-style-type: decimal !important;
  }

  .dictionare_d-flex{
    display: flex;
  }

  .dictionare_column{
    flex-direction: column;
  }

  .dictionare_content_center{
    justify-content: center;
  }

  .dictionare_fixed-width{
    width: 800px;
    padding: 10px;
    position: fixed;
    border-radius: 10px;
    border: solid 1px rgba(0,0,0,0.125);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.125);
  }

  .dictionare_video_responsive{
    width: 100%;
  }

  .dictionare_title-text{
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .dictionare_footer-text{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.2rem;
  }

  .dictionare_okay_button{
    text-transform: uppercase;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #28a745;
  }

  .dictionare_container{
    width: 350px;
    height: 200px;
    z-index: 10000;
    border: solid 1px rgba(0,0,0,0.125);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.125);
    position: fixed !important;
    background-color: white;
    opacity: 99;
    box-sizing: border-box;
    overflow: auto;
}

.dictionare_cross_container{
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 1.5rem;
}

.dictionare_detail_main{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
}

.dictionare_lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

.dictionare_pointer{
    cursor: pointer;
}

.dictionare_right_container{
    font-size: 1.5rem;
    position: absolute;
    bottom: 2px;
    right: 5px;
}
  
.dictionare_row{
    display: flex;
    width: 100%;
}

.dictionare_speaker_container{
    font-size: 1.8rem;
    padding: 15px 30px;
    color: #444444;
}

.dictionare_syn_header{
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: 600;
}

.dictionare_syn{
    margin-left: 30px;
    margin-top: 10px;
    font-style: italic;
    margin-right: 20px;
}

.dictionare_text-right{
    float: right;
}

.dictionare_word_container{
    padding: 20px 25px;
    text-transform: capitalize;
    font-size: 1.3rem;
}

.dictionare_word_info_container{
    font-size: 1.3rem;
    line-height: 1.2rem;
    width: 70%;
    padding: 0 25px;
    font-style: italic;
    color: #6c757d;
}

.dictionare_lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: dictionare_lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #007bff transparent transparent transparent;
  }
  .dictionare_lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .dictionare_lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .dictionare_lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes dictionare_lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  ol > li {
      margin-top: 10px;
  }

  ol:first-child{
      margin-top: 0;
  }